.idea/
# Object files
/**/*.[isoa]
#/**/*.i
#/**/*.s
#/**/*.o
#/**/*.a

# Libraries
/**/*.lib

/**/*.la
/**/*.lo

# Shared objects (inc. Windows DLLs)
/**/*.dll
/**/*.so

# Executables
/**/*.exe
/**/*.out

# Debug files
/**/*.dSYM/
/**/*.su
/**/*.idb
/**/*.pdb
