# Object files
**/*.i  # gcc -E
**/*.s  # gcc -S
**/*.o  # gcc -c

# Libraries
**/*.lib
**/*.a
**/*.la
**/*.lo

# Shared objects (inc. Windows DLLs)
**/*.dll
**/*.so

# Executables
**/*.exe
**/*.out # gcc xx.c -o xx.out

# Debug files
**/*.dSYM/
**/*.su
**/*.idb
**/*.pdb
